{% extends "layouts/log_filter_base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}


{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    CSV File Upload
                </h4>
            </div>
            <div class="card-body">
                <h6 class="card-category">
                    {% if msg and color == 'red' %}
                    <span class="text-danger">{{ msg | safe }}</span>
                    {% elif msg and color == 'green'%}
                    <span class="text-success">{{ msg | safe }}</span><br>
                    <span class="text-success">{{ msg1 | safe }}</span>
                    {% else %}
                    Enter your url
                    {% endif %}
                </h6>
                <div class="col-md-3">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary pull-left">Upload</button>
                    </form>
                </div>
                <div class="col-md-3">
                    <p><a href="{% url 'home' %}">Return to home</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}